{
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "jsx-a11y/accessible-emoji": false,
    "react/display-name": "off",
    "prop-types": [0],
    "no-console": "off",
    "no-underscore-dangle": [
      2,
      {
        "allow": ["__REDUX_DEVTOOLS_EXTENSION__"]
      }
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "env": {
    "browser": true
  }
}
